<h1 style="color:blue;">Centro de Mensajes</h1>
<br>
<div class="row mb-2">
    <div class="col">
        <input id="email" type="mail" class="form-control" placeholder="Email">
    </div>
    <div class="col">
        <input id="nombre" type="text" class="form-control" placeholder="Nombre">
    </div>
    <div class="col">
        <input id="apellido" type="text" class="form-control" placeholder="Apellido">
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <input id="edad" type="number" class="form-control" placeholder="Edad">
    </div>
    <div class="col">
        <input id="alias" type="text" class="form-control" placeholder="Alias">
    </div>
    <div class="col">
        <input id="avatar" type="text" class="form-control" placeholder="Avatar">
    </div>
</div>
<div class="row">
    <div class="col">
        <input id="mensaje" type="text" class="form-control" placeholder="Mensaje">
    </div>
</div>
<button id="botonEnviarMensaje" class="btn btn-success mt-3">Enviar</button>
<button id="botonEliminarMensajes" class="btn btn-danger mt-3">Eliminar Mensajes</button>
<hr>